body {
  position: relative;
  font-family: 'Arima Madurai', cursive;
}
/* Sets Nav bar items to the left */

@media(max-width:34em) {
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float: none !important;
    }
    .navbar .collapse.in, .navbar .collapsing {
        clear: both;
    }
}
#brand-img {
    height: 33px;
    width: 35px;
    margin-right: 10px;
}
#Header-img{

height: 300px;
width: 300px;
}
#welcomeText{

  text-align: center; 
}
.navbar{
  border-radius: 50px;
}
.xcode-img{

  height: 30px;
  width: 30px;
}
