.modal-content {
	margin-top: 0;
	font-size: 23px;
	text-align: left;
	line-height: 30px;
}
.modal-container {
	position: fixed;
	background-color: #c0c0c0;
	height: 450px;
	width: 80%;
	max-width: 700px;
	left: 50%;
	padding: 15px;
	border-radius: 5px;

	-webkit-transform: translate(-50%, -400%);
	-ms-transform: translate(-50%, -400%);
	transform: translate(-50%, -400%);

	-webkit-transition: -webkit-transform 400ms ease-out;
	transition: transform 400ms ease-out;
}
.modal:before {
	content: "";
	position: fixed;
	display: none;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.modal:target:before {
	display: block;
}
.modal:target .modal-container {
	top: 10%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
#modal-close {}

.proj-pic {
	width: 180px;
	height: 88px;
	margin-top: 0;
	position: relative;
	left: 5px;
	top: -7px;
	border-radius: 0;
}
.proj-title {
	margin-top: 0;
}
.proj-desc {
	margin-top: 0;
	text-align: left;
	position: relative;
	top: -10px;
}
.proj-modal-container {
	position: fixed;
	background-color: #c0c0c0;
	height: 660px;
	width: 80%;
	max-width: 920px;
	left: 50%;
	padding: 15px;
	border-radius: 5px;
	z-index: 1;

	-webkit-transform: translate(-50%, -400%);
	-ms-transform: translate(-50%, -400%);
	transform: translate(-50%, -400%);

	-webkit-transition: -webkit-transform 400ms ease-out;
	transition: transform 400ms ease-out;
}
.modal:target .proj-modal-container {
	top: 1%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
#close-it {
	position: relative;
	top: 15px;
	left: 5px;
}





